
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device.width, intial-scale=1.0">
        <title>
            {% block title %}
            WEB APP
            {% endblock %}
        
        </title>
    </head>
    <body>
        <h2> tour packages</h2>

        {% block content %}
        {% endblock %}


        <div>
            <h4> welcome to our web site</h4>
            <p> ENJOY YOUR VACATION WITH US</p>
        </div>
    </body>
</html>